participants_matrix:
  el:
    - el_type: geth

  cl:
    - cl_type: lighthouse
    # - cl_type: prysm
    # - cl_type: teku
    # - cl_type: nimbus
    # - cl_type: grandine
    # - cl_type: lodestar

network_params:
  seconds_per_slot: 12

additional_services:
  - dora

# mev_type: flashbots
# snooper_enabled: true
